---
main_css:
    url: "/css/style.css"

doc:
    url: "https://www.organicdivision.org/"
    target: '_blank'
    logo_url: "/img/logo-white@2x.png"
#    logo_url: "/img/DOC_Wordmark1_246px.png"
#    logo_url: "/img/logo@2x.jpg"

about:
    url: '/about'

---

<!doctype html>
<html lang="en">
    {% include "header.njk" %}

  <body class="d-flex flex-column min-vh-100">
    <header>
    </header>

    <!--Navigation bar-->
    <!--source: https://stackoverflow.com/a/42333464-->
    <div id="nav-placeholder">
        <nav id="navbar" class="navbar fixed-top navbar-expand-sm py-0 navbar-dark">

            {%- include 'global_logo.njk' -%}

            <button class="navbar-toggler align-self-start py-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1,#sitenav-submenu1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                {# <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/' | url }}">Home</a>
                    </li>
                </ul> #}

                {# <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="projects.html">{{ reich_related.title }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {%- for item in reich_related.list %}
                            <a class="dropdown-item" href="{{ item.url | url }}"
                                target="{% if item.target %}{{ item.target }}{% else %}{{ '_self' }}{% endif %}">
                                {{ item.title }}
                            </a>
                            {%- endfor %}
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul> #}

                {# Search form #}
                {# <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> #}

                {% include "global_navlinks.njk" %}
            </div>
        </nav>
    </div>

    <!--end of Navigation bar-->

    {% if title %}
    <div class="container-fluid page-title-static mx-0 pt-1 pb-0 d-flex justify-content-center">
        <h1 class="text-center ml-3 pl-3 my-auto">{{ title }}</h1>
    </div>
    {% endif %}

    <section class="flex-fill">
        {%- block content %}
            {{ content | safe }}
        {%- endblock %}

        {% include "goToTopButton.njk" %}

    </section>

    {% include "footer.njk" %}

    {% include "included_js.njk" %}

  </body>

</html>