<ul class="navbar-nav ml-auto">
    {# {%- for item in nav_items.list %}
    <li class="nav-item">
        <a class="nav-link" href="{{ item.url | url }}"{%- if item.target %} target="{{ item.target }}"{%- endif %}>
            {{ item.title }}
        </a>
    </li>
    {%- endfor %} #}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="globalNavDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="">{{ org_collections.title }}</a>
        <div id="sitenav-submenu1" class="dropdown-menu dropdown-menu-right collapse" aria-labelledby="globalNavDropdown">
            <a class="dropdown-item" href="{{ '/' | url }}">Home</a>
            <!-- Google Search Engine for this site -->
            <script async src="https://cse.google.com/cse.js?cx=003368067869466336026:tatj5bdtawu"></script>
            <div class="gcse-search"></div>
            <!-- End Google Search Engine -->

            <div class="dropdown-divider"></div>
            {%- for collection in org_collections.list %}
            <a class="dropdown-item {{ collection.disabled }}" href="{{ (org_collections.url_prefix + '#' + collection.id) | url }}"
                target="{% if collection.target %}{{ collection.target }}{% else %}{{ '_self' }}{% endif %}">
                {{ collection.title }}
            </a>
            {%- endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ 'https://organicchemistrydata.org/solvents/' | url }}" target="_blank" rel="noopener">Solvents</a>
            <a class="dropdown-item" href="{{ '/hansreich/' | url }}">Hans Reich's Collection</a>
        </div>
    </li>
    {# {%- endif %} #}
</ul>
