---
main_css:
    url: "/css/style.css"

homepage_logo:
    url: '/img/reich_icon.png'
    href: '/hansreich/'

doc:
    url: "https://www.organicdivision.org/"
    target: '_blank'
    logo_url: "/img/logo-white@2x.png"
#    logo_url: "/img/DOC_Wordmark1_246px.png"
#    logo_url: "/img/logo@2x.jpg"

reich_related:
    title: 'Prof. Hans J Reich'
    list:
    - title: 'About Prof. Hans Reich'
      url: '/hansreich/about_reich/'
    - title: 'Awards'
      url: '/hansreich/about_reich/#awards'
    - title: 'Research'
      url: '/hansreich/research/'
    - title: 'Publications'
      url: '/hansreich/publications/'
    # -
    #     title: 'Ieva L. Reich'
    #     url: 'https://www2.chem.wisc.edu/areas/reich/group/students/reich-il.htm'
    #     target: '_blank'
    # -
    #     title: 'Former Students'
    #     url: '/former_students'
    # -
    #     title: 'Pictures'
    #     url: '/pictures'

resources:
    title: "Reich Collection"
    list:
    # - title: 'A-Values'
    #   url: '/hansreich/resources/fundamentals/#a_values'
    # - title: 'Advanced Organic Chem'
    #   url: '/hansreich/resources/adv_org'
    #   disabled: 'disabled'
    - title: 'Acronyms'
      url: '/hansreich/resources/acronyms/'
    - title: 'Carbonyl Chemistry'
      url: '/hansreich/resources/carbonyl/'
    # - title: 'Electron Pushing'
    #   url: '/hansreich/resources/electron_pushing/'
    # - title: 'Electronegativities'
    #   url: '/hansreich/resources/fundamentals/#electronegativities'
    - title: 'Fundamentals of Organic Chemistry'
      url: '/hansreich/resources/fundamentals/'
      id: 'fundamentals'    # ! REQUIRED if there is a sublist
      list:
      - title: 'A-Values'
        url: '/hansreich/resources/fundamentals/#a_values'
      - title: 'Electronegativities'
        url: '/hansreich/resources/fundamentals/#electronegativities'
      - title: 'Electron Pushing'
        url: '/hansreich/resources/electron_pushing/'
      - title: 'Nomenclature'
        url: '/hansreich/resources/nomenclature/'
    - title: 'Named Reagents'
      url: '/hansreich/resources/named_reagents/'
    - title: 'Named Rules and Effects'
      url: '/hansreich/resources/named_effects/'
    - title: 'Natural Product Syntheses'
      url: '/hansreich/resources/syntheses/'
      #disabled: 'disabled'
    - title: 'NMR Info/Data'
      url: '/hansreich/resources/nmr/'
      #url: 'https://organicchemistrydata.org/NMRresources/nmr/'
      #target: '_blank'
      #disabled: 'disabled'
    # - title: 'Nomenclature'
    #   url: '/hansreich/resources/nomenclature/'
    - title: 'Organometallic Chemistry'
      url: '/hansreich/resources/organometallic/'
      id: 'organometallic'    # ! REQUIRED if there is a sublist
      list:
      - title: 'Organolithium Reagents'
        url: '/hansreich/resources/organolithium/'
    - title: 'Pericyclic Reactions'
      url: '/hansreich/resources/pericyclic/'
    - title: 'pKa'
      url: '/hansreich/resources/pka/'
    - title: 'Reactive Intermediates'
      url: '/hansreich/resources/reactive_intermediates/'
    - title: 'Reduction and Oxidation'
      url: '/hansreich/resources/redox/'
    # - title: 'Solvents'
    #   url: 'https://organicchemistrydata.org/solvents/'
    #   target: '_blank'

about:
    url: '/hansreich/'

---

<!doctype html>
<html lang="en">
    {% include "header.njk" %}

  <body class="d-flex flex-column min-vh-100">
    <header>
    </header>

    <!--Navigation bar-->
    <!--source: https://stackoverflow.com/a/42333464-->
    <div id="nav-placeholder">
        <nav id="navbar" class="navbar fixed-top navbar-expand-sm py-0 navbar-dark">
            <div class="d-none d-sm-block">
            {%- include 'global_logo.njk' -%}
            </div>

            <a class="navbar-brand py-1 d-none d-sm-block" href="{{ homepage_logo.href | url }}" target="_self">
                <img src="{{ homepage_logo.url | url }}" height="50" alt="Hans Reich Collection Logo" loading="lazy">
            </a>

            <div class="navbar-nav" id="hansreichCollection">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle pl-0 pl-sm-3" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ resources.title }}</a>
                      <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown1">
                        {%- for resource in resources.list %}
                          {%- if resource.list %}
                            <!-- Level two dropdown-->
                            {# Refs:
                              https://bootstrapious.com/p/bootstrap-multilevel-dropdown;
                              http://jsfiddle.net/R3JKz/15/
                              https://www.codeply.com/p/g6AXWHBNIK
                            #}
                            <div class="navbar-hover d-block d-md-flex flex-row align-items-center">
                              <li class="flex-grow-1"><a href="{{ resource.url | url }}" {%- if resource.target %} target="{{ resource.target }}"{%- endif %}
                                    class="dropdown-item pr-3 pr-md-0">{{ resource.title }}</a></li>
                              <li class="dropdown-submenu text-center dropright">
                                <a class="dropdown-toggle px-3 text-dark" href="#" id="{{ resource.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu shadow ml-0 pl-3 pl-md-0" aria-labelledby="{{ resource.id }}">
                                  <li>
                                    <a class="dropdown-item {{ resource.disabled }}" href="{{ resource.url  | url }}"
                                      {%- if resource.target %} target="{{ resource.target }}"{%- endif %}>
                                      General Info
                                    </a>
                                  </li>
                                {%- for subitem in resource.list %}
                                  <li>
                                    <a class="dropdown-item {{ subitem.disabled }}" href="{{ subitem.url  | url }}"
                                      {%- if subitem.target %} target="{{ subitem.target }}"{%- endif %}>
                                      {{ subitem.title }}
                                    </a>
                                  </li>
                                {%- endfor %}
                                </ul>
                              </li>
                            </div>
                            <!-- End Level two -->
                          {%- else %}
                            <li><a class="dropdown-item {{ resource.disabled }}" href="{{ resource.url | url }}"
                              {%- if resource.target %} target="{{ resource.target }}"{%- endif %}>
                              {{ resource.title }}
                            </a></li>
                          {%- endif %}
                        {%- endfor %}


                        <div class="dropdown-divider"></div>
                        {%- for item in reich_related.list %}
                        <a class="dropdown-item" href="{{ item.url | url }}"
                            {%- if item.target %} target="{{ item.target }}"{%- endif %}>
                            {{ item.title }}
                        </a>
                        {%- endfor %}
                      </ul>
                  </li>
              </ul>
            </div>

            <button class="navbar-toggler align-self-start py-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1,#sitenav-submenu1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                {# <a class="navbar-text d-inline d-md-none" href="#">Menu</a> #}
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                {# <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="projects.html">{{ reich_related.title }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {%- for item in reich_related.list %}
                            <a class="dropdown-item" href="{{ item.url | url }}"
                                {%- if item.target %} target="{{ item.target }}"{%- endif %}>
                                {{ item.title }}
                            </a>
                            {%- endfor %}
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul> #}

                {# Search form #}
                {# <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> #}

                {%- include "global_navlinks.njk" -%}

            </div>
        </nav>
    </div>
    <!--end of Navigation bar-->

    {% if title %}
    <div class="container-fluid page-title-static mx-0 pt-1 pb-0 d-flex justify-content-center">
        <h1 class="text-center ml-3 pl-3 my-auto">{{ title }}</h1>
    </div>
    {% endif %}

    <section class="flex-fill">
        {%- block content %}
            {{ content | safe }}
        {%- endblock %}

        {% include "goToTopButton.njk" %}

    </section>

    {% include "footer.njk" %}

    {% include "included_js.njk" %}

  </body>

</html>