---
biography:
    title: 'Biography'
    url: "/#biography"   # make it the same as 'id' (in-page section)
    id: 'biography'

research:
    title: 'Research'
    url: 'research'

ieva:
    title: 'Ieva L. Reich'
    url: 'https://www2.chem.wisc.edu/areas/reich/group/students/reich-il.htm'
    target: '_blank'

resources:
    title: 'Resources'
    list: [
        {
        title: 'pKa',
        url: '/resources/pka',
        },
        {
        title: 'Named Reagents',
        url: '/resources/named_reagents',
        },
        {
        title: 'Named Rules and Effects',
        url: '/resources/named_effects',
        },
        {
        title: 'Natural Product Syntheses',
        url: '/resources/nat_prod_syn',
        },
        {
        title: 'NMR',
        url: '/resources/nmr',
        },
        {
        title: 'Advanced Organic Chem',
        url: '/resources/adv_org',
        },
        {
        title: 'Organolithium Reagents',
        url: '/resources/orglithium_reagents',
        },
        {
        title: 'Organic Acronyms',
        url: '/resources/acronyms.pdf',
        },
        {
        title: 'Reactive Intermediates',
        url: '/resources/adv_org',
        },
    ]

former_students:
    title: 'Former Students'
    url: 'former_students'

pictures:
    title: 'Pictures'
    url: 'pictures'
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/1fb64b571b.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
  </head>

  <body>
    <!--Navigation bar-->
    <!--source: https://stackoverflow.com/a/42333464-->
    <div id="nav-placeholder">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ '/'  | url }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ biography.url | url }}">{{ biography.title }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ research.url }}">{{ research.title }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ ieva.url }}" target="{{ ieva.target }}">
                {{ ieva.title }}
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="projects.html">{{ resources.title }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {%- for resource in resources.list %}
                  <a class="dropdown-item" href="{{ resource.url }}">{{ resource.title }}</a>
                {%- endfor %}
                {# <div class="dropdown-divider"></div> #}
              </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ former_students.url }}" target="{{ former_students.target }}">
                  {{ former_students.title }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pictures.url }}" target="{{ pictures.target }}">
                  {{ pictures.title }}
                </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    {# <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
    </script> #}

    <!--end of Navigation bar-->

    {% if title %}<h1 class="text-center">{{ title }}</h1>{% endif %}

    {{ content | safe }}

    <!-- Go to top button -->
    <button onclick="topFunction()" id="myBtn" class="btn btn-light" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <footer>&copy;American Chemical Society, Organic Division, 2020</footer>
  </body>
</html>