---
layout: layout.njk

specific_page_js:
    list:
    - description: Control side menu and toogle button
      url: '/js/sideMenu.js'
    - description: 'Offsetting an html anchor to adjust for fixed header'
      url: '/js/clickToSection.js'

---


<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="navbar px-0 pt-2 pb-4">
        <div class="sidebar-header text-center">
            <h6 class="d-inline-flex align-self-center my-1">List</h6>
        </div>

        <div id="navbar-left">
            <ul class="nav nav-pills flex-column">
                {%- for item in items.list %}
                    <li class="nav-item border-bottom">
                    {# {%- if item.extra %}
                        <a href="{{ item.url | url }}"
                    {% else %} #}
                        <a href="#{{ item.id }}" class="nav-link px-1 py-1"
                    {# {%- endif %} #}
                            {# {%- if item.target %}
                                target="{{ item.target }}"
                            {%- endif %} #}
                            >{{ item.title }}
                        </a>
                    </li>
                {%- endfor %}
            </ul>
        </div>
    </nav>


    <div id="content">
        <button type="button" id="sidebarCollapse"
            class="btn btn-info d-inline-block ml-auto mr-3"
            title="Toggle List">
            {# <i class="fas fa-list-ul"></i> #}
            <i class="fas fa-angle-double-left"></i>
        </button>

        <div class="full-list container px-0 mx-0">
            <ul class="list-group list-group-flush">
                {%- for item in items.list %}
                    {%- if (item.id != 'references') %}
                    <li class="list-group-item py-5" id="{{ item.id }}">
                        {%- if display_link %}
                            {# <a id="{{ item.id }}" class="list-group-item" href="{{ item.url | url }}" target="{{ item.target }}"> #}
                                <h4 class="text-primary">{{ item.title }}</h4>
                            {# </a> #}
                        {%- elif item.extra %}
                            <h4 class="text-primary">{{ item.title }}</h4>
                            <p>This document is available in PDF only, click
                                <a href="{{ item.url | url }}" {% if item.target %}target="{{ item.target }}"{% endif %}>here</a> to open in a new tab
                            </p>
                        {%- endif %}
                        {%- if not item.extra %}
                            {% if item.url %}
                                <img src="{{ item.url | url }}" class="img-fluid" alt="{{ item.title }}">
                            {% else %}
                                {% set img_url = data_path + item.id + gif_type %}
                                <img src="{{ img_url | url }}" class="img-fluid" alt="{{ item.title }}">
                            {%- endif %}
                        {%- endif %}
                    </li>
                    {%- endif %}
                {%- endfor %}
            </ul>
        </div>

        <!-- Extra content -->
        {{ content | safe }}
    </div>

</div>
