---
layout: hansreich_base_layout.njk

specific_page_js:
    list:
    - description: Control side menu and toogle button
      url: '/js/sideMenu.js'

---

{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="navbar px-0 pt-2 pb-4">
        <div class="sidebar-header text-center">
            <h6 class="d-inline-flex align-self-center my-1">List</h6>
        </div>

        <div id="navbar-left">
            <ul class="nav nav-pills flex-column">
                {%- for item in items.list %}
                    {%- if item.menu_heading %}
                        <h5 class="text-white bg-dark my-0 py-1 px-1">{{ item.title }}</h5>
                    {%- else %}
                        <li class="nav-item border-bottom">
                        {# {%- if item.extra %}
                            <a href="{{ item.url | url }}"
                        {% else %} #}
                            <a href="#{{ item.id }}" class="nav-link px-1 py-1"
                        {# {%- endif %}
                                {%- if item.target %}
                                    target="{{ item.target }}"
                                {%- endif %} #}
                                >{{ item.title }}
                            </a>
                        </li>
                    {%- endif %}
                {%- endfor %}
            </ul>
        </div>
    </nav>


    <div id="content">
        <button type="button" id="sidebarCollapse"
            class="btn btn-info d-inline-block ml-auto mr-3"
            title="Toggle List">
            {# <i class="fas fa-list-ul"></i> #}
            <i class="fas fa-angle-double-left"></i>
        </button>

        <div class="full-list container px-0 mx-0">
            <ul class="list-group list-group-flush">
                {%- block extratop -%}
                    {%- if extra_top %}
                    {# {%- for item in extra_top %} #}
                        {{ content | safe }}
                        {# {{ item.content | safe }} #}
                    {# {%- endfor %} #}
                    {%- endif %}
                {%- endblock %}
                {%- for item in items.list %}
                    {%- if (item.id != 'references') and (not item.leave_empty) and (not item.menu_heading) %}
                    <li class="list-group-item py-5" id="{{ item.id }}">
                        {%- if display_link or item.display_link %}
                            {# <a id="{{ item.id }}" class="list-group-item" href="{{ item.url | url }}" target="{{ item.target }}"> #}
                            <h4>{{ item.title }}</h4>
                            {# </a> #}
                        {%- endif %}
                        {%- if item.extra %}
                            {# <h4>{{ item.title }}</h4> #}
                            <p>{%- if item.title | startsWithVowel %}An{%- else %}A{%- endif %}
                                <a href="{{ item.url | url }}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ item.title }}</a>
                                is available as a PDF file.
                            </p>
                        {%- endif %}
                        {%- if item.external_link %}
                            <p> A link to this external source is
                                <a href="{{ item.url | url }}" {% if item.target %}target="{{ item.target }}"{% endif %}>here</a>.
                            </p>
                        {%- endif %}
                        {%- if not (item.extra or item.external_link) %}
                            {% if item.url %}
                                <img src="{{ item.url | url }}" class="img-fluid" alt="{{ item.title }}">
                            {% else %}
                                {% set img_url = data_path + item.id + gif_type %}
                                <img src="{{ img_url | url }}" class="img-fluid" alt="{{ item.title }}">
                            {%- endif %}
                        {%- endif %}
                    </li>
                    {%- endif %}
                {%- endfor %}
            </ul>
        </div>

        <!-- Reference section -->
        {%- if references %}
        {% block references %}
            {# {{ content | safe }} #}
            {{ references.content | safe }}
        {% endblock %}
        {%- endif %}
    </div>

</div>
{% endblock %}
