---
permalink: /sitemap/sitemap.xml

eleventyExcludeFromCollections: true

header:
    title: Sitemap

---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for item in collections.all %}
    {%- if item.data.sitemap_ignore !== true %}
        <url>
            <loc>{{ site.url }}{{ item.url | url }}</loc>
            {%- if item.data.updated -%}
                <lastmod>{{ item.data.updated.toISOString() }}</lastmod>
            {%- else -%}
                <lastmod>{{ item.date.toISOString() }}</lastmod>
            {%- endif -%}
            {%- if item.data.changeFreq -%}
                <changefreq>{{item.data.changeFreq}}</changefreq>
            {%- endif -%}
        </url>
    {% endif %}
    {% endfor %}
</urlset>