/* ---------------------------------------------------
    For any headings that have inpage-link, so that it is not covered by the nav-bar
    ref: https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
----------------------------------------------------- */
html {
    /* height of sticky header */
    /* scroll-padding-top: 130px; */ /* no need anymore with clickToSection.js */
}


body {
    /* font-family: sans-serif; */
    position: relative;    /* for scrollspy to work properly */
    /* top: 60px; */
    padding-top: 130px;    /* to prevent cover of content by the nav-bar
    /* padding-bottom: 10px;    /* to prevent cover of content by the nav-bar */
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Open Sans', serif;
}

body section.flex-fill {
    margin-top: -25px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.display-1, .display-2, .display-3, .display-4 {
    font-weight: bold;
}

.lead {
    font-weight: 350 !important;
}

.page-title-static {
    /* padding-top: 60px; */
    position: fixed;
    top: 58px;
    background-color: white;
    z-index: 950;
    min-height: 45px;
    /* padding-bottom: 50px; */
}

.indent {
	text-indent: 25px;
}


/* ---------------------------------------------------
    Navbar
----------------------------------------------------- */
#navbar {
    background: #ba0000;
}
#navbar .nav-link {
    color: white;
    /* font-weight: 400; */
    /* background: transparent; */
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 20px;
    font-family: "Lato";
    text-transform: uppercase;
}
.navbar-nav .dropdown-menu {
    /* max-width: inherit; */
    max-width: 91vw;
    max-height: 75vh;
    overflow: auto;
}

/* ---------------------------------------------------
    TOTAL SYNTHESES SECTION
----------------------------------------------------- */

.syntheses-navbar {
    z-index: 900;
    /* padding-top: 60px; */
    position: fixed;
    top: 102px;
    background-color: white;
    /* z-index: 950; */
    /* min-height: 45px; */
    /* padding-bottom: 50px; */
}

#sidebar .index-select {
    z-index: 900;
    position: fixed;
    top: 110px;
    background-color: white;
    max-width: 238px;
}

#sidebar.active .index-select {
    max-width: 95vw;
}

/* ---------------------------------------------------
    Go to top Button
----------------------------------------------------- */
#toTopButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgb(128, 128, 128, 0.5);
    /* font-size: 18px;
    border: none;
    outline: none;
    color: white; */
    cursor: pointer;
    /* padding: 5px 10px; */
    border-radius: 4px;
}
#toTopButton:hover {
    background-color: #555;
}

/* ---------------------------------------------------
    JUMBOTRON STYLE
----------------------------------------------------- */
.jumbotron.jumbotron-fluid {
    /* height: 80vh; */
    /* min-height: 80vh; */
    /* max-height: calc(100vh - 80px); */
    /* background-size: auto 100vh; */
    /* background-image: url(/img/collage.png);
    background-size: cover;
    color: black;
    margin: 0; */
}

img.img-fluid {
    /* max-height: calc(100vh - 150px); */
    /* max-width: 100%; */
    /* width: auto; */
}


/* ---------------------------------------------------
    For embed PDF viewer
----------------------------------------------------- */
.embed-pdf {
    /* width: auto;
    max-height: 100vh; */
    width: 100%;
    height: 80vh;
}


/* ---------------------------------------------------
    SIDEBAR STYLE (PKA page)
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    /* z-index: 100; */
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 132px;
    bottom: 0px;
    left: 0px;
    /* height: 85vh; */
    z-index: 800;
    transition: all 0.3s;
    border-right: 1px black solid;
    overflow: auto;
    background-color: white;
    margin-top: -30px;
    margin-left: -250px;
}

#sidebar>div:first-child {
    width: -webkit-fill-available;    /* To make this div span entire width on small and xs devices */
}

#sidebar.active {
    /* margin-left: -250px; */
    margin-left: 0px;
    width: 100%;
}

#sidebar .sidebar-header {
    padding: 5px 0px 0px 0px;
    background: silver;
}

#sidebar a {
    /* font-size: 1.1em; */
    /* display: block; */
    font-family: 'Roboto', sans-serif;
}

#sidebarCollapse {
    /* right: 0; */
    left: 4px;
    top: 65px;
    position: fixed;
    z-index: 1000;
}


/* ---------------------------------------------------
    CONTENT STYLE (for pages with toggle side list)
----------------------------------------------------- */

#content {
    /* width: calc(100% - 250px); */
    width: 100%;
    max-height: 85vh;
    transition: all 0.3s;
    /* padding: 40px; */
    /* min-height: 100vh; */
    position: absolute;
    /* top: 0; */
    right: 0;
}

#content.active {
    width: 100%;
    /* width: calc(100% - 250px); */
}

a.list-group-item {
    border: none;
    color: blue
}


/* ---------------------------------------------------
    Publication page
----------------------------------------------------- */
.research img {
    /* background: #ba0000; */
    border: solid 2px;
    /* margin: auto; */
    /* width: 100% !important; */
}



/* ---------------------------------------------------
    for malihu custom scrollbar
----------------------------------------------------- */
.mCSB_inside .mCSB_container {
    margin-right: 15px;
}

/* ---------------------------------------------------
    for mark.js Highlight script
    https://markjs.io/#styling
----------------------------------------------------- */
mark {
    background: orange;
    color: black;
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */
footer {
    /* z-index: -1; */
    /* padding-top: 70vh; */
}

#bb-footer {
    background-color: #fff;
    color: #333;
}

#bb-footer .bb-footer__top {
    background: #3a6486;
    padding: 5px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

#bb-footer .bb-footer__bottom {
    /* padding: 20px 0; */
}

#bb-footer .bb-footer__top .footer-social .social-title {
    float: left;
    margin-right: 5px;
}

#bb-footer .bb-footer__top .menu-social-nav-container {
    float: left;
    margin: 0;
}
#bb-footer .bb-footer__top .menu-social-nav-container a {
    color: #fff;
    font-size: 32px;
    line-height: 1;
}

#bb-footer .bb-footer__top .menu-social-nav-container a:hover {
    color: #ba0000;
}

#bb-footer .bb-footer__top .menu-social-nav-container li{
    margin-right: 2px;
    line-height: 1;
}

#bb-footer .bb-footer__top #social-share {
    float: left;
}

a.at-icon-wrapper.at-share-btn.at-svc-facebook span.at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
}

a.at-icon-wrapper.at-share-btn.at-svc-facebook span.at-icon-wrapper > svg {
    height: 24px !important;
    width: 24px !important;
}

.menu-social-nav-container {
    padding: 0;
    list-style: none;
    margin: 10px auto;
    display: inline-block;
}

.menu-social-nav-container li {
    display: inline-block;
    margin-right: 10px;
}

.menu-social-nav-container li a {
    color: #3a6486;
    font-size: 24px;
}

.menu-social-nav-container li a span {
    display: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.addthis-animated {
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: .3s;
}

.at4-show {
    display: block!important;
    opacity: 1!important;
}

.addthis-smartlayers,
div#at4-follow,
div#at4-share,
div#at4-thankyou,
div#at4-whatsnext {
    padding: 0;
    margin: 0;
}

.at-image-sharing-tool {
    z-index: 10 !important;
}

.at-resp-share-element {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

.at-resp-share-element .at-share-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 2px 5px;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    background-color: transparent;
}

.at-resp-share-element .at-share-btn:focus,
.at-resp-share-element .at-share-btn:hover {
    transform: translateY(-4px);
    color: #fff;
    text-decoration: none;
}

.at-style-responsive .at-share-btn {
    /* padding: 5px; */
}

.at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}

#bb-footer .bb-footer__bottom .footer-bucket img {
    display: inline-block;
    max-width: 170px;
    max-height: 150px;
}


#bb-footer .privacy {
    font-size: 12px;
    line-height: 1;
    /* margin-top: 40px; */
}

#bb-footer .privacy p {
    margin-bottom: 4px;
    font-size: 12px;
}

#bb-footer .privacy a {
    color: #333;
}

#bb-footer .privacy .bb-nav__footer-admin-wrap {
    display: inline-block;
    width: 100%;
}

#bb-footer .privacy ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
}

#bb-footer .privacy ul li {
    float: left;
}

#bb-footer .privacy ul li a {
    color: #333;
    padding: 0 5px;
}

#bb-footer .privacy ul li:after {
    content: "|";
    float: right;
}

#bb-footer .privacy a:hover {
    color: #ba0000;
}


/* Ref: https://sharingbuttons.io/ */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  /* margin: 0.5em */
}

.resp-sharing-button {
  border-radius: 2px;
  transition: 25ms ease-out;
  padding: 0.1em 0.3em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}


/* ---------------------------------------------------
    Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap
----------------------------------------------------- */

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    img.img-fluid {
        max-height: calc(100vh - 150px);
        max-width: 100%;
        /* width: auto; */
    }

    .display-4 {
        font-size: 2.0rem !important;
        font-weight: 300 !important;
        line-height: 1.2 !important;
    }

    .lead {
        font-size: 1.0rem !important;
        font-weight: 350 !important;
    }

    #bb-footer .bb-footer__top .menu-social-nav-container a {
        color: #fff;
        font-size: 24px;
        line-height: 1;
    }

    .dropdown-item {
        white-space: normal;
    }

    h1 {
        font-size: 5.7vmin !important;
    }
    h2 {
        font-size: 5.4vmin !important;
    }
    h3 {
        font-size: 5.1vmin !important;
    }
    h4 {
        font-size: 4.8vmin !important;
    }
    h5 {
        font-size: 4.5vmin !important;
    }
    h6 {
        font-size: 4.2vmin !important;
    }

}

/*// Medium devices (tablets, 768px and down)*/
@media (max-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}

@media only screen and (min-width: 768px){
    #bb-footer .privacy {
        margin-top: 0;
        /* font-size: 14px; */
        line-height: 18px;
    }

    #sidebar {
        margin-left: 0;
        width: 250px;
    }

    #sidebar.active {
        margin-left: -250px;
        width: 250px;
    }

    #content {
        width: calc(100% - 250px);
    }

    #content.active {
        width: 100%;
    }

    #sidebar.active .index-select {
        max-width: 240px;
    }

}
