body {
    /* font-family: sans-serif; */
}

/* ---------------------------------------------------
    Go to top Button
----------------------------------------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white; */
    cursor: pointer;
    /* padding: 15px;
    border-radius: 4px; */
}
#myBtn:hover {
    background-color: #555;
}

/* ---------------------------------------------------
    JUMBOTRON STYLE
----------------------------------------------------- */
.jumbotron.jumbotron-fluid {
    /* height: 80vh; */
    /* min-height: 80vh; */
    /* max-height: calc(100vh - 80px); */
    /* background-size: auto 100vh; */
    /* background-image: url(/img/collage.png);
    background-size: cover;
    color: black;
    margin: 0; */
}

img.img-fluid {
    /* max-height: calc(100vh - 150px); */
    /* max-width: 100%; */
    /* width: auto; */
}

/* ---------------------------------------------------
    Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap
----------------------------------------------------- */

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .jumbotron.jumbotron-fluid {
        /* height: 80vh; */
        min-height: 80vh;
        max-height: calc(100vh - 100px);
    }

    img.img-fluid {
        max-height: calc(100vh - 150px);
        max-width: 100%;
        /* width: auto; */
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}