<a class="navbar-brand py-1" href="{{ site.logo.url | url }}"{%-if site.logo.target %} target="{{ site.logo.target }}"{%- endif %}>
    <img src="{{ site.logo.src | url }}" height="50" alt="{{ site.logo.alt_text }}" loading="lazy">
</a>
